<div class="container about">
  <div class="row">
    <div class="col-md-8 col-centered">
      <h1>Welcome to Time Bucket!</h1>

      <h3 class="medium-margin-top justify">Time Bucket is a simple tool to help you keep track of your time.</h3>

      <p class="medium-margin-top justify">If you want to learn more, check out the <%= link_to "FAQ", main_faq_path, class: "underline" %> section. If you still have any questions you can contact me direcly by cliking <%= link_to "here", new_contact_path, class: "underline" %> and dropping me a message.</p>
      <p class="justify">Bear in mind that Time Bucket is still a work in progress. I am planning to add more features soon. If you have any enhancement ideas on your mind, don't hesitate to share them with me.</p>

      <p class="text-right medium-margin-top">Enjoy time tracking with Time Bucket.<p>
      <p class="text-right">–– Natalia</p>
    </div>
  </div>
</div>
