<div class="container about">
  <div class="row">
    <div class="col-md-8 col-centered">
      <!-- TODO -->
      <h1>Welcome to Time Bucket!</h1>

      <h3 class="medium-margin-top">Time Bucket is a simple tool to help you keep track of your time.</h3>

      <p class="medium-margin-top">If you are wondering what this is all about, check out the FAQ section. If you wish to contact me click here and drop me a message.</p>

      <p>Start timer and easily manage your existing time entries in just one tap.</p>

      <p>Enjoy time tracking with Time Bucket.<p>
      <p>–– Natalia</p>
    </div>
  </div>
</div>
