<div class="container faq">
  <div class="row">
    <div class="col-md-8 col-centered">
    <h1>FAQ</h1>
      <div class="justify">
        <h3>What is Time Bucket?</h3>
        <p class="small-margin-bottom">It is a simple tool to track your time using either an automated timer or manual entries. It allows you to track time for any activity or project. To get started, click <%= link_to "here", new_user_registration_path, class: "underline" %> to create an account.</p>

        <h3>How do I use it?</h3>
        <p class="small-margin-bottom">It is simple. Enter a name of an activity you wish to track, and add it to your list. Once you have done so, simply choose the activity to track from you list, and start the timer. If you wish, you may enter the time manually instead.</p>

        <h3>Is it free to use?</h3>
        <p class="small-margin-bottom">Yes, there is absolutely no subscription fee. Time Bucket is 100% free.</p>

        <h3>Are you planning any future enhancements?</h3>
        <p class="small-margin-bottom">Yes. Some ideas:</p>
        <ul>
          <li>ability to set goals</li>
          <li>reports</li>
          <li>ability to re-order list of activities</li>
        </ul>

        <h3>Can I delete my account?</h3>
        <p>Yes. After creating an account you can delete it in a Profile Management section.</p>

        <h3>Who are you?</h3>
        <p class="small-margin-bottom">My name is Natalia. I am a self-taught programmer who likes to make web applications, mostly in Ruby on Rails.</p>

        <hr class="medium-margin-top"/>

        <p class="small-margin-bottom">You have any questions, problems, suggestions, found a bug? Drop me a <%= link_to "message", new_contact_path, class: "underline" %>.</p>
      </div>
    </div>
  </div>
</div>
