.activity {
  h1 {
    font-size: 44px;
    color: #1B7C7D;
    font-weight: lighter;
  }

  input#activity_name {
    border-radius: 2px;
    border: 0.5px solid #AEB0B2;
    outline-color: #1B7C7D;
  }

  .field_with_errors {
    input#activity_name {
      border-radius: 2px;
      border: 0.5px solid #D95F41;
    }
  }
}
