/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "layout/bootstrap_variables";
@import "bootstrap";
@import "bootstrap-datepicker/dist/css/bootstrap-datepicker3";
@import "libraries/bootstrap-datepicker";

@import "home";
@import "activities";
@import "entries";
@import "contacts";

// GLOBAL
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: lighter !important;
  a {
    color: black;
    &:hover {
      color: black;
      text-decoration-color: #D95F41;
    }
  }
}

h1 {
  font-size: 44px !important;
  color: #1B7C7D !important;
  font-weight: lighter !important;
}

h2 {
  font-size: 34px !important;
  color: #1B7C7D !important;
  font-weight: lighter !important;
}

input,
textarea {
  outline-color: #1B7C7D;
}

select,
input,
textarea {
  font-weight: lighter;
}

label {
  margin-bottom: 0 !important;
}

.btn.btn-secondary.btn-sm {
  font-weight: lighter;
  padding: .12rem .56rem;
  font-size: 18px;

  &.smaller {
    font-size: 14px;
  }
}

// DELETE, EDIT & NOTE ICONS
.fa-trash-alt.fa-w-14 {
  color: #D95F41;
  &:hover {
    color: darken(#D95F41, 15%);
  }
}

.fa-edit.fa-w-18,
.fa-sticky-note {
  color: #AEB0B2;
  &:hover {
    color: darken(#AEB0B2, 15%);
    cursor: pointer;
  }
}

// NAVBAR
.navbar {
  a.navbar-brand {
    color: #D95F41;
    font-size: 26px;
    &:hover {
      color: darken(#D95F41, 15%);
    }
  }
  a {
    padding-left: 10px;
    padding-right: 10px;
  }
  a.active {
    text-decoration: underline;
    text-decoration-color: #1B7C7D;
    cursor: default;
  }
}

// FOOTER
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F8F9FA;
  font-size: 0.9em;

  a {
    padding-left: 10px;
    padding-right: 10px;
    &.active {
      text-decoration: underline;
      text-decoration-color: #1B7C7D;
      cursor: default;
    }
  }
}

// TRACKING
.tracking {
  h1 {
    font-size: 44px;
    color: #1B7C7D;
    font-weight: lighter;
  }

  input,
  textarea {
    border-radius: 2px;
    border: 0.5px solid #AEB0B2;
    outline-color: #1B7C7D;
  }
  .additional-note-field {
    width: 74%;
  }
  label {
    color: #1B7C7D;
  }

  #entry_activity_id {
    width: 74%;
    border: none;
    font-size: 20px;
  }
}

.profile-management {
   h3 {
    font-size: 26px;
    color: #D95F41;
    font-weight: lighter;
   }

  input {
    width: 100%;
  }
}

#date {
  border-radius: 2px;
  border: 0.5px solid #AEB0B2;
  outline-color: #1B7C7D;
}

// DEVISE ERRORS
#error_explanation {
  h2 {
    font-weight: lighter;
    font-size: 1.1rem;
    color: #D95F41;
  }
}

// FAQ, ABOUT
.faq h3,
.about h3 {
  font-size: 26px;
  color: #1B7C7D;
  font-weight: lighter;
}

// CUSTOM CLASSES
.col-centered {
  float: none;
  margin: 0 auto;
}

.medium-margin-top {
  margin-top: 30px;
}

.small-margin-bottom {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.justify {
  text-align: justify;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #D95F41;
  &:hover {
    text-decoration-color: #1B7C7D;
  }
}

.label-secondary-info {
  font-size: 13px;
  font-style: normal;
}
