/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "layout/bootstrap_variables";
@import "bootstrap";

@import "home";
@import "activities";
@import "entries";

// GLOBAL:
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: lighter !important;
  a {
    color: black;
    &:hover {
      color:black;
    }
  }
}

select,
input,
textarea {
  font-weight: lighter;
}

label {
  margin-bottom: 0 !important;
}

.btn.btn-secondary.btn-sm {
  font-weight: lighter;
  padding: .12rem .56rem;
}

// DELETE & EDIT ICONS:
.fa-trash-alt.fa-w-14 {
  color: #D95F41;
  &:hover {
    color: darken(#D95F41, 15%);
  }
}

.fa-edit.fa-w-18 {
  color: #AEB0B2;
  &:hover {
    color: darken(#AEB0B2, 15%);
  }
}

// FOOTER:
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F8F9FA;
  font-size: 0.9em;

  a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// NAVBAR:
.navbar {
  a.navbar-brand {
    // color: #1B7C7D;
    font-size: 28px;
    // &:hover {
    //   color: darken(#1B7C7D, 15%);
    // }
  }
  a {
    padding-left: 10px;
    padding-right: 10px;
    // color: #1B7C7D;

    // &:hover {
    //   color: darken(#1B7C7D, 15%);
    // }
  }
}

// CUSTOM CLASSES:
.col-centered {
  float: none;
  margin: 0 auto;
}

.medium-margin-top {
  margin-top: 30px;
}

.small-margin-bottom {
  margin-bottom: 20px;
}

// TRACKING:
.tracking {
  h1 {
    font-size: 44px;
    color: #1B7C7D;
    font-weight: lighter;
  }

  input,
  textarea {
    border-radius: 2px;
    border: 0.5px solid #AEB0B2;
    outline-color: #1B7C7D;
  }
  .additional-note-field {
    width: 74%;
  }
  label {
    color: #1B7C7D;
  }

  #entry_activity_id {
    width: 74%;
    border: none;
  }
}
