// DURATION TIMER:
input#duration-seconds,
input#duration-minutes,
input#duration-hours {
  color: #1B7C7D;
  font-size: 54px;
  font-weight: lighter;
  width: 68px;
  border: none;
}

span.timer {
  color: #1B7C7D;
  font-size: 54px;
  font-weight: lighter;
}

// START AND STOP BUTTONS
.fa-play-circle.fa-w-16 {
  color: #1B7C7D;
  font-size: 46px;
  padding-bottom: 5px;
  &:hover {
    color: darken(#1B7C7D, 10%);
    cursor: pointer;
  }
}

.fa-stop-circle.fa-w-16 {
  color: #D95F41;
  font-size: 46px;
  padding-bottom: 5px;
   &:hover {
    color: darken(#D95F41, 15%);
    cursor: pointer;
  }
}

#start-button,
#stop-button {
  background: none;
  border: none;
  outline: none;
}

// SUBMIT DURATION
#duration-timer-submission {
  width: 74%;
}

input:disabled,
input[disabled],
input:disabled,
input[disabled] {
  cursor: not-allowed;
}
