.profile-management {
   h3 {
    font-size: 26px;
    color: #D95F41;
    font-weight: lighter;
   }

  input {
    width: 100%;
  }
}

// DEVISE ERRORS
#error_explanation {
  h2 {
    font-weight: lighter;
    font-size: 1.1rem;
    color: #D95F41;
  }
}
