<h1>Your activities</h1>

<% if current_user.activities.present? %>
  <ul>
    <% @activities.each do |activity| %>
      <li><%= activity.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Your list of activities is empty.</p>
<% end %>


<%= form_for @activity do |f| %>
  <div class="field">
    <%= f.text_field :name, class: "" %>
  </div>

  <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>


